.table-view {
    -fx-background-color: DimGray;
}
.table-view .column-header {
     -fx-background-color: DimGray;
}
.table-view .table-cell{
    -fx-background-color: transparent;
    -fx-font-weight: bold;
}
.table-row-cell: hover {
    -fx-background-color: white;
    -fx-text-background-color: purple;
}
.table-row-cell: odd{
    -fx-background-color: darkgray;
}
.table-row-cell: even{
    -fx-background-color: gray;
}
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}
.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  #575757;
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  #575757;
}



.button {
    -fx-background-color: lightgray;
}